services:
  - type: web
    name: hotel-web
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: APP_KEY
        sync: false
      - key: APP_DEBUG
        value: true
      - key: DATABASE_URL
        sync: false
